source https://api.nuget.org/v3/index.json

nuget FSharp.Core 4.2.3
nuget Saturn
nuget Simple.Migrations
nuget Microsoft.Data.Sqlite
nuget Dapper

clitool Microsoft.DotNet.Watcher.Tools
clitool dotnet-saturn

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE