source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Saturn
nuget Simple.Migrations
clitool Microsoft.DotNet.Watcher.Tools

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE