source https://api.nuget.org/v3/index.json

storage: none

framework: netcoreapp2.1

nuget FSharp.Core
nuget Saturn
nuget Simple.Migrations
nuget Microsoft.Data.Sqlite
nuget Dapper

clitool dotnet-saturn

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  storage: none

  framework: netstandard2.0

  nuget Fake.Core.Target
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.Cli